{% extends 'base.html' %}
{% block title %}注册{% endblock %}
{% block head %}<link rel="stylesheet" href="{{ url_for('static',filename='css/login_register.css') }}">{% endblock %}
{% block main %}
    <h3 class="register-title">注册</h3>
    <form action="" method="post">
        <div class="form-container">
            <div class="form-group">
                <input type="text" name="telephone" placeholder="手机号码" class="form-control">
            </div>
            <div class="form-group">
                <input type="text" name="username" placeholder="用户名" class="form-control">
            </div>
            <div class="form-group">
                <input type="password" name="password1" placeholder="请输入密码" class="form-control">
            </div>
            <div class="form-group">
                <input type="password" name="password2" placeholder="请重复密码" class="form-control">
            </div>
            <div class="form-group">
                <button type="submit" class="btn btn-primary">提交</button>
            </div>
        </div>

    </form>
{% endblock %}